<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
</head>
<body>
<h1>관리자 페이지</h1>
<form action="#" th:action="@{/submitForm}" th:object="${formData}" method="post">
    <label for="companyName">상호명:</label>
    <input type="text" id="companyName" name="companyName" th:field="*{companyName}"><br>

    <label for="businessNumber">사업자 번호:</label>
    <input type="text" id="businessNumber" name="businessNumber" th:field="*{businessNumber}"><br>

    <label for="menu">메뉴:</label>
    <input type="text" id="menu" name="menu" th:field="*{menu}"><br>

    <label for="openingHours">운영 시간:</label>
    <input type="text" id="openingHours" name="openingHours" th:field="*{openingHours}"><br>

    <button type="submit">제출</button>
</form>
</body>
</html>
