<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>학생 정보</title>
</head>
<body>

<h2>학생 정보 입력하기</h2>

<form th:action method="post">
    <!-- 이름 입력 칸 -->
    <label for="name">이름 입력:</label>
    <input type="text" id="name" name="name" />

    <br/>

    <!-- 두 번째 입력 칸 -->
    <label for="grade">성적 입력:</label>
    <input type="text" id="grade" name="grade" />

    <br/>

    <!-- 폼 제출 버튼 -->
    <input type="submit" value="제출" />
</form>

</body>
</html>
